@model App.ViewModels.FornecedorViewModel

@{
    ViewData["Title"] = "Deletar";
}

<h3 style="padding-top: 50px">@ViewData["Title"]</h3>
<hr />
<h4>"Você realmente quer deletar o Fornecedor?"</h4>


<div>    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Documento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Documento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoFornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoFornecedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a class="btn btn-info" asp-action="Index">voltar</a>
    </form>
</div>
