@model IEnumerable<App.ViewModels.FornecedorViewModel>

@{
    ViewData["Title"] = "Lista de Fornecedores";
}

<h3 style="padding-top: 50px">@ViewData["Title"]</h3>

<p>
    <a class="btn btn-info" asp-action="Create">Novo Fornecedor</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Documento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td class="text-right">
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"> <apam class="fa fa-pencil-alt"></apam></a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id"> <apam class="fa fa-search"></apam></a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"> <apam class="fa fa-trash"></apam></a>
                </td>
            </tr>
        }
    </tbody>
</table>
